.eightball-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.eightball-green {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: green;
  color: white;
}
.eightball-goldenrod {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: goldenrod;
}
.eightball-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.eightball-reset {
  font-size: xx-large;
  height: 75px;
}

.eightball {
  display: grid;
  align-content: center;
  justify-content: center;
  align-self: center;
}